.container__article_detail {
    width: 100%;
    height: 100vh;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article_detail {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.container__article {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
}

.container__images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container__small_imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.container__individual_image {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    overflow: hidden;
}

.container__individual_image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img__principal {
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__principal>img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.container__sale{
    width: 35%;
    height: 100%;
    border: 1px solid #0000001a;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    padding: 20px;
}

.sale__price{
    font-size: 3rem;
    padding: 25px 0;
}

.seccion_destacada{
    font-size: 1.2rem;
}

.seccion_destacada>span{
    color: var(--green);
}

.container__stok{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0;
    line-height: 1.15rem;
}

.indicator_stok{
    color: var(--grey);
}

.sale__button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 45px 0;
}

.servicios{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 10px 0;
}

.envio_gratis{
    display: flex;
    gap: 5px;
}

.compra_protegida{
    display: flex;
    gap: 5px;
}
