.container__article_detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article_detail {
    width: 90%;
    /* height: 100%; */
    margin: 60px auto 60px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 16px;
    padding: 20px 10px;
}

.container__article {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    overflow-y: auto;
}

.container__images {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container__small_imagenes {
    align-self: flex-start;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.container__individual_image {
    max-width: 100px;
    height: 100px;
    object-fit: contain;
    overflow: hidden;
}

.container__individual_image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img__principal {
    width: 400px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__principal>img {
    height: auto;
    justify-self: center;
    width: 100%;
    object-fit: contain;
}

.container__sale {
    width: 35%;
    height: 100%;
    border: 1px solid #0000001a;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.sale__price {
    font-size: 3rem;
    padding: 25px 0;
}

.seccion_destacada {
    font-size: 1.2rem;
}

.seccion_destacada>span {
    color: var(--green);
}

.container__stok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0;
    line-height: 1.15rem;
}

.indicator_stok {
    color: var(--grey);
}

.sale__button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 45px 0 80px 0;
    position: relative;
}

.servicios {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 10px 0;
}

.envio_gratis {
    display: flex;
    gap: 5px;
}

.compra_protegida {
    display: flex;
    gap: 5px;
}