.prueba{
    margin: 0 auto;
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    /* overflow-x: auto; */
    padding-left: 50px;
}