.link{
    text-decoration: none;
    color: var(--black);
}

.container__card {
    min-width: 235px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    border-radius: 30px;
    background: #fff;
    border: 1px solid #d4d4d4;
    cursor: pointer;
}

.container__card:hover {
    transform: translateY(-2%);
    box-shadow: 15px 20px 15px #bebebe,
        -5px -5px 18px #ffffff;
    transition: all .2s ease-in-out;
}

.container__img {
    width: 100%;
    height: 50%;
    margin-bottom: 25px;
}

.container__img>img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
}

.card__title>h4 {
    line-height: 15px;
}

.container__card:hover .card__title>h4 {
    color: var(--violet);
}

.container__card-text {
    width: 90%;
    margin: 0 auto;
}

.container__card-text>p {
    display: none;
}

.container__stock {
    display: flex;
    gap: .3rem;
    font-style: italic;
    color: #8d8c8c;
}

.container__card-pricing {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 8px;
}

.add_cart{
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
}

.add_cart:hover{
    transform: scale(1.2) translateY(-2px);
}

.add_cart:hover>svg>path{
    stroke: var(--violet);
    
}