button {
    position: relative;
    padding: .8em 1.3em;
    outline: none;
    background: transparent;
    color: #ae00ff;
    border: 1px solid transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button:hover {
    border: 1px solid transparent;
}

button span {
    position: absolute;
}

button span:nth-child(1) {
    top: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #ae00ff);
    animation: topButton 2s 1.05s ease-in infinite backwards;
}

/*SPAN Bottom*/
button span:nth-child(2) {
    transform: translateY(-100%);
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
    animation: rigthButton 2s 1.35s ease-in infinite backwards;
}

/*SPAN Rigth*/
button span:nth-child(3) {
    bottom: 0;
    transform: translateX(200%);
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #ae00ff, transparent);

    animation: bottomButtom 2s 1.52s ease-in infinite backwards;
}

/*SPAN Left*/
button span:nth-child(4) {
    transform: translateY(100%);
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ae00ff);
    animation: leftButtom 2s 1.7s ease-in infinite backwards;
}


button:hover {
    background: #ae00ff;
    box-shadow: 0 0 5px #bd33fd, 0 0 20px #bd33fd,
        0 0 35px #bd33fd, 0 0 100px #bd33fd;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    transition: 0.2s;
}

button:hover .in-button {
    stroke: #fff;
}

@keyframes topButton {
    0% {
        transform: translateX(-120%);
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, #ae00ff);
    }

    20%,
    100% {
        transform: translateX(100%);
    }
}

@keyframes rigthButton {
    0% {
        transform: translateY(-130%);
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #ae00ff);
    }

    20%,
    100% {
        transform: translateY(100%);
    }
}

@keyframes bottomButtom {
    0% {
        transform: translateX(100%);
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, #ae00ff, transparent);
    }

    20%,
    100% {
        transform: translateX(-130%);
    }
}

@keyframes leftButtom {
    0% {
        transform: translateY(100%);
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #ae00ff);
    }

    20%,
    100% {
        transform: translateY(-120%);
    }
}

.not_active{
    display: none;
}

.remove_cart,.is_active{
    color: #ff3322;
    border-radius: 0 !important;
    position: absolute;
    bottom: -70px;
}

.remove_cart:hover {
    background-color: transparent;
    box-shadow: none;
    color: #ff3322 !important;
}

.remove_cart .in-button {
    stroke: #ff3322 !important;
}

.remove_cart:hover .in-button {
    stroke: #ff3322 !important;
}

.remove_cart span:nth-child(1),
.remove_cart span:nth-child(2),
.remove_cart span:nth-child(4) {
    opacity: 0;
    animation: none;
}

.remove_cart span:nth-child(3) {
    background: #ff3322 !important;
    bottom: 0 !important;
    height: 3px !important;
    width: 100%;
    opacity: 0;
    transform: translateX(0);
    animation: none;
}

.remove_cart:hover span:nth-child(3) {
    opacity: 1;
    animation: removeCart 2s ease-in-out alternate !important;
}

@keyframes removeCart {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }

    20%,
    100% {
        opacity: 1;
        transform: scaleX(100%);
    }
}