button {
    position: relative;
    padding: .8em 1.3em;
    outline: none;
    background: transparent;
    color: #ae00ff;
    border: 1px solid transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    border: 1px solid transparent;
}

button span {
    position: absolute;
}

button span:nth-child(1) {
    top: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #ae00ff);
    animation: topButton  2s  1.05s   ease-in infinite backwards;
}

/*SPAN Bottom*/
button span:nth-child(2) {
    transform: translateY(-100%);
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
    animation: rigthButton  2s  1.35s ease-in infinite backwards;
}

/*SPAN Rigth*/
button span:nth-child(3) {
    bottom: 0;
    transform: translateX(200%);
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #ae00ff, transparent);
    
    animation: bottomButtom  2s  1.52s ease-in infinite backwards;
}

/*SPAN Left*/
button span:nth-child(4) {
    transform: translateY(100%);
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ae00ff);
    animation: leftButtom  2s  1.7s ease-in infinite backwards;
}


button:hover {
    background: #ae00ff;
    box-shadow: 0 0 5px #bd33fd, 0 0 20px #bd33fd, 
                0 0 35px #bd33fd, 0 0 100px #bd33fd;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    transition: 0.2s;
}


@keyframes topButton {
    0% {
        transform: translateX(-120%);
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, #ae00ff);
    }

    20%,
    100% {
        transform: translateX(100%);
    }
}

@keyframes rigthButton {
    0% {
        transform: translateY(-130%);
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #ae00ff);
    }

    20%,
    100% {
        transform: translateY(100%);
    }
}

@keyframes bottomButtom {
    0% {
        transform: translateX(100%);
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, #ae00ff, transparent);
    }

    20%,
    100% {
        transform: translateX(-130%);
    }
}

@keyframes leftButtom {
    0% {
        transform: translateY(100%);
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #ae00ff);
    }

    20%,
    100% {
        transform: translateY(-120%);
    }
}

/*BUTTON SALE*/

/* .span__sale{
    display: none !important;
}

.button__sale,
.button__sale::after {
 background: #ae00ff;
    box-shadow: 0 0 5px #bd33fd, 0 0 20px #bd33fd, 
                0 0 35px #bd33fd, 0 0 100px #bd33fd;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    transition: 0.2s;
}

.button__sale::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

.button__sale:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
} */